/* ========== "Inter" font imported from fonts.google.com ========== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  width: 84%;
  margin-inline: auto;
}

/* ========== Navbar part styles start from here ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-links li a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 160%;
  color: #575757;
  transition: all linear 0.3s;
  &:hover {
    color: #d7b6b6;
  }
}
.primary-btn {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #1d4ed8;
  color: #fff;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    background-color: #575757;
  }
}
/* ========== Navbar part styles end here ========== */

/* ========== Hero section styles start from here ========== */
#hero-area {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero-area > .hero-content {
  padding: 80px 0;
  color: #fff;
  text-align: center;
}
.hero-content .hero-title {
  font-size: 5rem;
  text-transform: capitalize;
  line-height: 5rem;
  margin-bottom: 16px;
  letter-spacing: -3.2px;
}
.hero-content .hero-text {
  font-size: 1.375rem;
  line-height: 1.5rem;
  width: 830px;
  margin-inline: auto;
  margin-bottom: 250px;
}
/* ========== Hero section styles end here ========== */

/* ========== Speakers section's style start from here ========== */
#speakers {
  margin: 80px auto;
}
.section-title {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 4rem;
  color: #0d1b2a;
  font-weight: 700;
  margin-bottom: 56px;
}

.speakers-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.speaker-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}
.speaker-card img {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  object-fit: cover;
}
.speaker-card > .speaker-card-con {
  padding: 24px;
}
.speaker-card-con .speaker-expertise {
  color: #2563eb;
  font-size: 0.5rem;
  line-height: 160%;
  letter-spacing: 0.3px;
  font-weight: 600;
  text-transform: uppercase;
}
.speaker-card-con .speaker-name {
  color: #0d1b2a;
  font-size: 1.25rem;
  line-height: 160%;
  font-weight: 700;
  text-transform: capitalize;
  margin: 8px 0;
}
.speaker-card-con .speaker-position {
  color: #575757;
  font-size: 0.875rem;
  font-weight: 160%;
  font-weight: 400;
  text-transform: capitalize;
}
/* ========== Speakers section's style end here ========== */

/* ========== Pricing section's style start from here ========== */
#pricing > .section-title {
  margin-bottom: 12px;
}
#pricing > .section-sub-title {
  text-align: center;
  font-size: 1rem;
  line-height: 160%;
  color: #575757;
}
.pricing-card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}
.pricing-card {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 32px;
}

.price-card-head h4 {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: 600;
  color: #888888;
}
.price-card-head h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
  color: #0d1b2a;
  margin: 8px 0;
}
.price-card-head p {
  text-transform: lowercase;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: #888888;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 20px;
}
.pricing-card ul {
  padding: 20px 0;
}
.pricing-card li {
  list-style: disc;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #333333;
  margin-bottom: 10px;
}
.pricing-benefits li:last-child {
  margin-bottom: 0;
}
.btn-secondary {
  width: 100%;
  border: 1px solid #2563eb;
  background: transparent;
  padding: 12px 0;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  cursor: pointer;
  color: #2563eb;
  border-radius: 8px;
  transition: all linear 0.3s;
  &:hover {
    background: #1d4ed8;
    color: #fff;
  }
}

.pricing-card-special {
  color: #fff;
  background: #0d1b2a;
}
.pricing-card-special h2,
.pricing-card-special p,
.pricing-card-special li,
.pricing-card-special button {
  color: #fff;
}
.pricing-card-special button {
  background: #2563eb;
}
.pricing-card-special .price-card-head p {
  border-bottom: 1px solid #222f3d;
}
.pricing-card:nth-child(3) {
  background-color: #f8f9fb;
}
/* ========== Pricing section's style end here ========== */

/* ========== Footer section's style start from here ========== */
footer {
  background: #25313f;

  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
}
.left,
.middle,
.right {
  flex: 1;
}
.left p {
  font-size: 1rem;
  color: #f9f9f9;
  font-weight: 500;
  line-height: 160%;
  margin-top: 24px;
}
.middle ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.middle li a {
  display: block;
  color: #f9f9f9;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  text-transform: capitalize;
}
.right ul {
  display: flex;
  gap: 24px;
}
.right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #f9f9f9;
  transition: all linear 0.3s;
}
.right ul li a {
  color: #fff;
  font-size: 1rem;
}
.right li:hover {
  background: #2563eb;
}

.copyright {
  text-align: center;
  background-color: #0d1b2a;
  padding: 32px 0;
}
.copyright p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
}
.copyright p a {
  font-size: 18px;
  color: #f8f8f8;
  text-decoration: dashed;
}
/* ========== Footer section's style end here ========== */
