/* ========== "Inter" font imported from fonts.google.com ========== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  width: 84%;
  margin-inline: auto;
}

/* ========== Navbar part styles start from here ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-links li a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 160%;
  color: #575757;
  transition: all linear 0.9s;
  &:hover {
    color: #d7b6b6;
  }
}
.primary-btn {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #1d4ed8;
  color: #fff;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    background-color: #575757;
  }
}
/* ========== Navbar part styles end here ========== */

/* ========== Hero section styles start from here ========== */
#hero-area {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6)), url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero-area > .hero-content {
  padding: 80px 0;
  color: #fff;
  text-align: center;
}
.hero-content .hero-title {
  font-size: 5rem;
  text-transform: capitalize;
  line-height: 5rem;
  margin-bottom: 16px;
  letter-spacing: -3.2px;
}
.hero-content .hero-text {
  font-size: 1.375rem;
  line-height: 1.5rem;
  width: 830px;
  margin-inline: auto;
  margin-bottom: 250px;
}
/* ========== Hero section styles end here ========== */
